* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: rgba(245, 243, 243, 1);
}


header, footer {
    background-color: grey;
    display: flex;
    justify-content:  space-around;
    align-items: center;
    height: 7.5vh;/* Font size for header links */
}

.logo {
    font-size: 1.5rem; /* Font size for the logo */
    color: white; /* Logo color */
    font-weight: bold; /* Make the logo bold */
}
.nav > ul{
    display: flex;
    gap: 3vw;
    list-style: none; /* Remove default list styling */
    font-size: 1.2rem; /* Font size for navigation links */
}

a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set link color */
}

.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #363c4d;
}

#slide{
  position: absolute;

}

.slide {
  min-height: 800px;
  max-width: 100vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

}

.slide > h1{
 display: flex;
  justify-content: center;
  padding-top: 37.5vh;
  font-size: 3rem;
}

.change {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: opacity 10s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

#prev, #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  background: none;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}